<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lu.cup.mapper.UniversityMapper">
  <resultMap id="BaseResultMap" type="cn.lu.cup.entity.University">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="university_id" jdbcType="BIGINT" property="universityId" />
    <result column="university_code" jdbcType="CHAR" property="universityCode" />
    <result column="university_name" jdbcType="VARCHAR" property="universityName" />
    <result column="university_name_abbr" jdbcType="VARCHAR" property="universityNameAbbr" />
  </resultMap>
</mapper>