<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lu.cup.mapper.UniversitySubjectLevelMapper">
  <resultMap id="BaseResultMap" type="cn.lu.cup.entity.UniversitySubjectLevel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="university_subject_level_id" jdbcType="BIGINT" property="universitySubjectLevelId" />
    <result column="category" jdbcType="SMALLINT" property="category" />
    <result column="level" jdbcType="SMALLINT" property="level" />
    <result column="university_code" jdbcType="VARCHAR" property="universityCode" />
    <result column="subject_code" jdbcType="VARCHAR" property="subjectCode" />
    <result column="number" jdbcType="SMALLINT" property="number" />
    <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag" />
  </resultMap>
</mapper>